*
    margin: 0
    padding: 0
    box-sizing: border-box

body
    background-color: white
.modal
    height: 100vh
    width: 100vw
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    background-color: rgba(0,0,0,0.8)
    padding: 5vh 10vw
    // position: relative
    .header
        background-color: #777
        display: flex
        justify-content: space-between
        height: 10vh    
        width: 100%
        .title
            color: royalblue
            padding: 20px
            font-size: 40px
        .toggle
            color: royalblue    
            padding: 20px
            font-size: 40px
    .content
        flex-grow: 1    
        width: 100%
        background-color: #777
        color: limegreen
        padding: 20px
    .footer
        height: 10vh
        width: 100%
        display: flex
        flex-direction: column
        justify-content: space-around
        background-color: #777
        button
            align-self: flex-end
            padding: 5px 20px
            margin-right: 20px




    